{% load static %}
<link rel="stylesheet" href="{% static 'alunos/style.css' %}">

<h1>Alunos Cadastrados</h1>
<a href="{% url 'criar_aluno' %}">Cadastrar novo</a>
<table>
    <tr>
        <th>Nome</th>
        <th>RA</th>
        <th>Turma</th>
        <th>Trilhas</th>
        <th>Ações</th>
    </tr>
    {% for aluno in alunos %}
    <tr>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.ra }}</td>
        <td>{{ aluno.turma }}</td>
        <td>{{ aluno.trilhas }}</td>
        <td>
            <a href="{% url 'editar_aluno' aluno.id %}">Editar</a>
            <a href="{% url 'deletar_aluno' aluno.id %}">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>
